/*SECURITE*/
.titreSecurite p{
    text-align: center;
    font-size: 1.5em;
}
.textSecurite p{
    text-align: center;
    padding-top: 2em;
}
.imgSecurite{
    width: 6em;
    height: 6em;
}

/*METEO*/
.meteoImg{
    text-align: center;
    padding-top: 1.3em;
}
.meteoTemp{
    padding-left:5em;
    padding-top: 1em;
}
.temp{
    font-size:3em;
}
.unitT{
    font-size: 2em;
}
.ville{
    font-size: 1.5em;
    text-align:center;
}
.titreDetail p{
    font-size: 0.9em;
    font-weight: normal;
    margin-top: 0.8em;
}
.infos{
    text-align: right;
}
.infos p{
    font-size:1.5em;
}
.unit{
    text-align: left;
}

/*APAREILS*/
.boutonLight{
    height:1em;
    border: none;
    background : transparent;
    text-align : center;
}

.lightName{
    text-align: center;
    padding: 0.6em;
}

.boutonLight img{
    height:3em;
    padding: 0.1em;
}
.boutonLight img:hover{
    height:3.2em;
    padding: 0.08em;
}

/*SCENE*/
.sceneName p{
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.8em;
}

.sceneImg img{
    height:3em;
    margin:0.5em;
    margin-left: 1em;
}

.sceneButon{
    height:1em;
    border: none;
    background : transparent;
    text-align : center;
}
.sceneButon img{
    height:2em;
    margin: 1em;
    margin-right: 1em;
}
.sceneButon img:hover{
    height:2.2em;
    margin: 1em;
    margin-right: 1em;
}





/*TEMPERATURE*/
.degres{
    font-size: 0.8em;
    padding-top: 0.2em;
    text-align: left;
    color: rgb(109, 109, 109);
}
.temperature{
    font-size: 1.2em;
    text-align: right;
}
.titreT{
    padding :1em;
    padding-left: 5em;
    font-size: 1.2em;
    text-align: center;
    color: black;
}